.resume {
  padding: 100px 10%;
  background: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}
.resume-preview iframe {
  border: none;
}
.resume-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.resume-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
}